section {
    max-width: 500px;
    margin: auto;
    margin-bottom: 100px;
}

.titulo {
    color: #222629;
    font-size: 2em;
}

.nrformsub {
    max-width: 100px;
    flex-grow: 0;
    padding: 10px 20px;
    background-color: #86c232;
    color: #ffffff;
    border: 2px solid #222629;
    border-radius: 5px;
    text-align: center;
}

hr {
    margin: 25px 0 0 0;
}

.novoregistro {
    margin-bottom: 50px;
}

/*configuração para dispositivos moveis*/
@media screen and (max-width: 750px){
    li, .novoregistro form {
        margin-right: 5px;
    }
}