.section {
    max-width: 500px;
    margin: auto;
    margin-bottom: 100px;
}

.titulo {
    color: #222629;
    font-size: 2em;

    font-family: "Oxygen", serif; 
    font-weight: 400; 
    font-style: normal;
}

.nrformsub {
    max-width: 100px;
    flex-grow: 0;
    padding: 10px 20px;
    background-color: #86c232;
    color: #ffffff;
    border: 2px solid #222629;
    border-radius: 5px;
    text-align: center;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.hr {
    margin: 25px 0 0 0;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.novoregistro {
    margin-bottom: 50px;
}

.registrar {
    padding: 5px 10px;
    margin: 25px 0 0 50px;
    color: #222629;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;

    margin-left: 60px;
    box-sizing: border-box;
}

.label {
    color: #222629;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.input {
    flex-grow: 1;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

/*configuração para dispositivos moveis*/
@media screen and (max-width: 750px){
    li, .novoregistro form {
        margin-right: 5px;
    }
}