/*area do login*/
.login {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login form p {
    text-align: center;
    font-size: 1.5em;
}

.login h1 {
    margin-bottom: 25px;
    font-size: 2em;
}

.email, .senha {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #222629;
}

.botoes-login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

.botoes-login button, .botoes-login input {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #222629;
    border-radius: 5px;
    color: #222629;
}

/*area do registro*/
.registro {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.registro form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registro form p {
    text-align: center;
    font-size: 1.5em;
}

.registro h1 {
    margin-bottom: 25px;
    font-size: 2em;
}

.botoes-registro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

.botoes-registro button, .botoes-registro input {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #222629;
    border-radius: 5px;
    color: #222629;
}

/*botao ativo*/
.active {
    background-color: #86c232;
    color: #ffffff !important;
}

/*configuração unicas*/
.senha {
    margin-bottom: 12px;
}

input {
    border: 2px solid #222629;
    padding: 4px 6px;
    border-radius: 5px;
}

#email, #senha {
    width: 220px;
    color: #222629;
}