header {
    margin: 25px 0 25px 0;
}

.dev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.dev a {
    text-decoration: none;
    border: 2px solid #222629;
    border-radius: 5px;
    color: #222629;
    padding: 3px 5px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 25px;
}

.container1 span {
    font-size: 42px;
    color: #222629;
}

.container1 a {
    text-decoration: none;
    color: #222629;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #222629;
}

nav button {
    color: #ED333B;
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
    border: 2px solid #ED333B;
}

nav button:hover {
    background-color: #ED333B;
    color: #ffffff;
}

/*classe do navlink ativa*/
.active {
    background-color: #86c232;
    color: #ffffff !important;
}

/*configuração para celulares*/
@media screen and (max-width: 750px){
    .container1 {
        gap: 5px;
    }
    .container1 span {
        font-size: 28px;
    }   
}