.header {
    margin: 25px 0 25px 0;

    max-width: 750px;
    margin: auto;
}

.dev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.deva {
    text-decoration: none;
    border: 2px solid #222629;
    border-radius: 5px;
    color: #222629;
    padding: 3px 5px;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 25px;
}

.container1s {
    font-size: 42px;
    color: #222629;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.container1a {
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid #222629;

    background-color: #86c232;
    color: #ffffff !important;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.navb {
    color: #ED333B;
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
    border: 2px solid #ED333B;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.navb:hover {
    background-color: #ED333B;
    color: #ffffff;
}

/*configuração para celulares*/
@media screen and (max-width: 750px){
    .container1 {
        gap: 5px;
    }
    .container1s {
        font-size: 28px;
    }   
}