.categoria {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.cat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.titulo2 {
    color: #222629;

    font-family: "Oxygen", serif; 
    font-weight: 800; 
    font-style: normal;
}

.apagar {
    padding: 5px 10px;
    color: #222629;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal;

    background-color: rgb(226, 62, 94);
    border-radius: 7px;
}

.grupo {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.link {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: 1px solid #222629;
    border-radius: 5px;

    background-color: #E9E9ED;
}

.linkb {
    margin-right: 2px;
    padding: 3px 5px;
    color: #222629;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal;

    background-color: white;
    border-radius: 5px;
}

.form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;

    margin-left: 60px;
    box-sizing: border-box;
}

.campo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.registrar {
    padding: 5px 10px;
    margin: 25px 0 0 50px;
    color: #222629;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal;

    background-color: #86c232;
    border-radius: 7px;
}

.label {
    color: #222629;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal;
}

.input {
    color: #222629;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal;
}

.nrformsub {
    max-width: 100px;
    flex-grow: 0;
    padding: 10px 20px;
    background-color: #86c232;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    color: #222629;

    font-family: "Noto Serif", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal;
}