.categoria {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.cat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.apagar {
    padding: 5px 10px;
}

.grupo {
    display: flex;
    gap: 5px;
}

.link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: 1px solid #222629;
    border-radius: 5px;
}

.link a {
    text-decoration: none;
    color: #222629;
    padding: 5px 10px;
}

.link button {
    margin-right: 2px;
}

form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;

    margin-left: 60px;
    box-sizing: border-box;
}

.campo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.registrar {
    padding: 5px 10px;
    margin: 25px 0 0 50px;
}