body {
    max-width: 750px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

p, span, a, label, li, input, button {
    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}
